<div class="column post is-3">
  <article class="columns is-multiline">
    <div class="column is-12 post-img">
      <img src="https://avatars.dicebear.com/api/bottts/<%=participant.username%>.svg" /> 
    </div>
    <div class="column is-12 featured-content">
      <% if (self._id == participant._id || self.role === 'assassin' && participant.role === 'assassin' || self.role === 'seer' && participant.isRevealed) { %>
        <h3 class="heading post-category"><%=participant.role%></h3>
      <% } %>
      <h1 class="title post-title"><%=participant.username%></h1>

      <% if(self.role === 'villager') { %>
      <a href="/room/vote/<%=participant._id%>" <% if(roomData.isPlaying && self.canPlay && !self.isKilled) { %> class="button is-primary">Vote</a>
          <% } else {%>
          class="button is-primary disabled" disabled>Vote</a>
          <% }%>
      <% } else if(self.role === 'seer') { %>
      <a href="/room/reveal/<%=participant._id%>" <% if(roomData.isPlaying && self.canPlay && !self.isKilled && self._id != participant._id) { %> class="button is-primary">Reveal</a>
          <% } else {%>
          class="button is-primary disabled" disabled>Reveal</a>
          <% }%>
      <% } else if(self.role === 'assassin') { %>
      <a href="/room/assassinate/<%=participant._id%>" <% if(roomData.isPlaying && participant.role != 'assassin' && self.canPlay && !self.isKilled) { %> class="button is-primary">Assassinate</a>
          <% } else {%>
          class="button is-primary disabled" disabled>Assassinate</a>
          <% }%>
      <% } %>
    </div>
  </article>
</div>