<%- include('./partials/header') %>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title">
                Room Code -  
                <%=roomData.roomCode%>
            </h2>
        </div>
    </div>
</section>
<section class="user-card">
    <div class="container">
        <% roomData.status.forEach(statusLine => { %>
            <div><%=statusLine%></div>
        <% }) %>
        <% if (true || !roomData.rolesAssigned) { %>
            <form action="/roomAdmin/assignRoles" method="POST" style="width: 50%; margin-bottom: 30px;">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="number" name="assassins" required placeholder="No of Assassins">
                    </p>
                    <p class="control is-expanded">
                        <input class="input" type="number" name="seers" required placeholder="No of Seers">
                    </p>
                    <p class="control">
                        <button class="button is-primary">
                            Assign Roles
                        </button>
                    </p>
                </div>
            </form>
        <% } %>
             
        <div class="columns">
            <% if (roomData.isPlaying) { %>
                <a href="/roomAdmin/getResults" class='button is-primary column' style="margin: 10px">Get Results</a>
            <%  } else { %>    
                <% if (roomData.rolesAssigned) { %>
                    <a href="/roomAdmin/startRound" class='button is-primary column' style="margin: 10px">Start Round</a>
                <% } else { %>
                    <a href="/roomAdmin/startRound" class='button disabled is-primary column' disabled style="margin: 10px">Start Round</a>
                <% } %>
            <%}%>
            <% if (roomData.acceptingParticipants) { %>
                <a href="/roomAdmin/closeRoom" class='button is-primary column' style="margin: 10px">Close Room</a>
            <%  } else { %>    
                <a href="/roomAdmin/openRoom" class='button is-primary column' style="margin: 10px">Open Room</a>
            <%}%>
            <a href="/roomAdmin/resetRoom" class='button is-primary column' style="margin: 10px">Reset Room</a>
            <!-- <button class='button is-primary column' style="margin: 10px">Show Roles</button> -->
        </div>
        <h2 class="subtitle">ALIVE</h2>
        <div class="columns is-multiline">
            <% participants.forEach(participant => { %>
            <% if(!participant.isKilled) { %>
            <%- include('./partials/adminUserCard', {participant}) %>
            <% } %>
        <%})%>
        </div>
        <hr>

        <h2 class="subtitle dead">DEAD</h2>
        <div class="columns is-multiline">
            <%participants.forEach(participant => {%>
            <%if(participant.isKilled) {%>
            <%- include('./partials/adminUserCard', {participant}) %>
            <%}%>
            <%})%>
        </div>

    </div>
    </div>

</section>